
body {
  background-color: #DCDCDC;
  padding: 20px;
}

h1 {
  font-family: Apple Chancery, cursive;
  font-size: 65px;
  color: #696969;  
}

h2 {
  font-family: Times New Roman; 
  font-size: 45px;
  color: #A9A9A9;
}

h3 {
  font-family: Verdana; 
  font-size: 12px;
  color: #999999;  
  text-align: justify;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  color: #000001;
}

h1:hover {  
  font-size: 70px;
  color: #800080;
}

h4:hover {  
  font-size: 35px;
  color: #800080;
  font-weight: 600; 
}

.img {
  width: 99%;
  height: 330px;
}

.rodobox {
  border: 1px solid;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  padding: 2px 10px 2px 10px;
  background-color: #f0f0f0;
  color: black;
  box-shadow: 10px 5px 10px 5px rgba(0,0,0,0.);
}

.rodoboxcontent{
  padding: 5px;
}

#tabele {
  list-style-type: none;
  column-count: 2;
  border: 1px solid #cacaca;
  background-color: #F0F0F0;
  line-height: 25px;
  font-size: 20px;
}

#tabela {
    list-style-type: circle; 
  border: 1px solid #cacaca;
  background-color: #F0F0F0;
  line-height: 25px;
  font-size: 20px;
  padding: 0px 0px 0px 60px;
}
